body{
  background-color: #2E282A;
}

div{
  text-align: center;
}
.btn{
  background-color: #C6DDF0;
  color: #2E282A;
}

.navbar-nav > li > .dropdown-menu { background-color: #C6DDF0;; }

.navbar{
  background-color: #F3CEBA;
  color: #F3CEBA;
}

h3{
color: #F3CEBA;
}

.jumbotron{
  background-color: #F3CEBA;
}
.row {
  /*height: 200px;*/
  /*border: solid black 2px;*/

}
h1{
  color: red;
  font-family: cursive;
}

div{
}

.top{
  border: solid #F3CEBA 2px;
  height: 220px;
}

.box{
  height: 180px;
  border: solid #F3CEBA 2px;
}

#panic{
  margin-top: 30px;

}

.btn-group-vertical {
  margin-top: 60px;
}
